<div class="detail-header">

</div>
<div class="container col-md-12">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
               <div class="address-box">
                No.41 Sarathy Nagar, Velachery
                <div>
                    9123456789
                </div>
                <div>
                    9123456789
                </div>
            </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Branch</h3>
            </div>
            <div class="panel-body">
                 <div class="branch-box">
                <ul>
                    <li>one</li>
                    <li>two</li>
                    <li>three</li>
                    <li>four</li>
                </ul>
            </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Map</h3>
            </div>
            <div class="panel-body">
               <div class="map-box">
                <ul>
                    <li>
                        <span class="number">52</span>
                        <span class="caption">Review</span>
                    </li>
                    <li>
                        <span class="number">52</span>
                        <span class="caption">Ratings</span>
                    </li>
                    <li>
                        <span class="number">52</span>
                        <span class="caption">Bookmarks</span>
                    </li>
                    <li>
                        <span class="number">52</span>
                        <span class="caption">Likes</span>
                    </li>
                </ul>
            </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Timing</h3>
            </div>
            <div class="panel-body">
                <div class="timing-box">
                <div class="list">
                    <span>dsfjdjfkjdv</span>
                    <span class="status">Open</span>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                Panel content
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Category</h3>
            </div>
            <div class="panel-body">
                 <div class="col-md-4 category-list">
                <span class="sticky-tags success">MEN</span>
                <ul>
                    <li>shirt</li>
                    <li>tshirt</li>
                </ul>
            </div>
            <div class="col-md-4 category-list">
                <span class="sticky-tags warning">WOMEN</span>
                <ul>
                    <li>shirt</li>
                    <li>tshirt</li>
                </ul>
            </div>
            <div class="col-md-4 category-list">
                <span class="sticky-tags middle">KIDS</span>
                <ul>
                    <li>shirt</li>
                    <li>tshirt</li>
                </ul>
            </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Brands</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-4 brand-list">
                    <span class="sticky-tags success">MEN</span>
                    <ul>
                        <li>shirt</li>
                        <li>tshirt</li>
                    </ul>
                </div>
                <div class="col-md-4 brand-list">
                    <span class="sticky-tags warning">WOMEN</span>
                    <ul>
                        <li>shirt</li>
                        <li>tshirt</li>
                    </ul>
                </div>
                <div class="col-md-4 brand-list">
                    <span class="sticky-tags middle">KIDS</span>
                    <ul>
                        <li>shirt</li>
                        <li>tshirt</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Photos</h3>
            </div>
            <div class="panel-body">
               <div class="photo-list">
                <img src="hjgs" alt="">
                <img src="hjgs" alt="">
                <img src="hjgs" alt="">
                <img src="hjgs" alt="">
                <img src="hjgs" alt="">


            </div>
            </div>
        </div>

    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Offers</h3>
            </div>
            <div class="panel-body">
                 <div class="offer-box">
                <ul>
                    <li>
                        <i class=""></i>
                        <div class="offer-title">
                            Waiting Offer
                        </div>
                        <div class="offer-subtext">
                            Access quickly
                        </div>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>