<div class="shop-list" ng-controller="shopController" scroll-y="onScroll($isAtEnd)" scroll-y-end-offset="300" scroll-y-for-body="true">
<nav class="navbar navbar-default header">	
	<div class="navbar-collapse collapse" id="navbar">
		<ul class="nav navbar-nav">
			<li><a>Home</a></li>
		</ul>
		<div class="navbar-header">
			<a class="navbar-brand">Project name</a>
		</div>
		<div class="navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<input type="text" class="header-search-box" placeholder="Search Shops">
					<!--div class="input-prepend">
		      			<label class="add-on" for="amountInput"><b><i class="icon-search"></i></b></label>
		      			<input type="text" autofocus="autofocus" placeholder="Search Shops" class="header-search-box"/>
			    		</div-->
				</li>
			</ul>
		</div>
	</div>
</nav>


<div class="data-container">
	<div class="col-md-3 col-sm-3 col-lg-3 filter-panel">
		<div class="filter-block" ng-repeat="filter in filters">
			<div class="filter-header">
				{{filter.name}}
			</div>
			<div class="filter-content modal-body">
				<div ng-repeat="value in filter.values">
					<input id="filterOption{{filter.name}}{{$index}}" type="checkbox" ng-model="value.isSelected" ng-true-value="1" ng-false-value="0"/> <label for="filterOption{{filter.name}}{{$index}}">{{value.name}}</label>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9 col-sm-9 col-lg-9">
		<div class="col-md-6 col-sm-6 col-lg-6 shop-wrapper" ng-repeat="shop in shops">
			<div class="one-shop">
				<!-- <img src="{{shop.imageUrl}}"></img> -->
				<!-- <img></img> -->
				<div class="shop-name-block">
					<div class="shop-name">
						<div class="name">{{shop.name}}</div>
						<div class="sub-header">{{shop.subHeader}}</div>
					</div>
					<div class="is-rated">
						<input-stars max="1" icon-full="icomoon-star" icon-base="icomoon-star" icon-empty="icomoon-star-o" ng-model="shop.isRated" ng-change="checkLoginAndRateThisShop($index)"></input-stars>
					</div>
				</div>
				<div class="shop-address-rating-block">
					<div class="shop-address-block" ng-bind-html="trustedHtml(shop.address)">
					</div>
					<div class="shop-rating-block">
						<!-- <i class="glyphicon-star" ng-repeat="i in [0,1,2,3,4]" ng-class="{'rating-selected': i < shop.rating}"></i> -->
						<input-stars max="5" icon-full="icomoon-star" icon-base="icomoon-star" icon-empty="icomoon-star-o" ng-model="shop.rating" readonly></input-stars>
						({{shop.totalRatings}})
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container col-md-12 col-lg-12 col-sm-12 footer-container">
	<div class="footer-content">
		<ul>
			<li>Home</li>
			<li>Products</li>
			<li>Pricing</li>
			<li>Icon</li>
			<li>Blog</li>
			<li>Contacts</li>
			<li>About</li>
		</ul>
		<ul>
			<li><i class="icomoon-facebook"></i></li>
			<li><i class="icomoon-google-plus"></i></li>
			<li><i class="icomoon-twitter"></i></li>
		</ul>
	</div>
	<div class="copy-right">
		All rights reserved.
	</div>
</div>
</div>
