<!-- <div class="detail-header">

</div> -->
<div class="container col-md-12">
    <div class="col-md-12 user-img">
        <img src="images/pothys.jpeg" alt="">
        <div class="user-name">santhosh</div>
        <div class="user-id">santhosh@gmail.com</div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Recent Activity</h3>
            </div>
            <div class="panel-body">
                <div class="recent-activity">
                    <ul>
                        <li>setting</li>
                        <li>setting</li>
                        <li>setting</li>
                        <li>setting</li>
                        <li>setting</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Photo</h3>
            </div>
            <div class="panel-body">
                <div class="photo-list">
                    <ul>
                        <li><img src="images/pothys.jpeg" alt=""></li>
                        <li><img src="images/pothys.jpeg" alt=""></li>
                        <li><img src="images/pothys.jpeg" alt=""></li>
                        <li><img src="images/pothys.jpeg" alt=""></li>
                        <li><img src="images/pothys.jpeg" alt=""></li>
                        <li><img src="images/pothys.jpeg" alt=""></li>
                    </ul>
                    <div class="more-photos">
                        <a href="">More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default review-list">
            <div class="panel-heading">
                <h3 class="panel-title">review</h3>
            </div>
            <div class="panel-body ">
                <div class="review-box">
                    <img src="images/pothys.jpeg" alt="">
                    <div class="review-info">
                        <div class="review-title">
                            title
                        </div>
                        <div class="review-content">
                            sample content
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default review-list">
            <div class="panel-heading">
                <h3 class="panel-title">Followers</h3>
            </div>
            <div class="panel-body user-list">
                <ul>
                    <li class="user-info">
                        <img src="images/pothys.jpeg" alt="">
                        <span class="information">
                        <div class="user-name">
                            User name
                        </div>
                        <div>
                            follower
                        </div>
                        <div>
                            following
                        </div>
                    </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default review-list">
            <div class="panel-heading">
                <h3 class="panel-title">Profile</h3>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control"  placeholder="name">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control"  placeholder="address">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control"  placeholder="name">
                    </div>
                    <button type="button" class="btn btn-default">Save</button>
                    <button type="button" class="btn btn-default">cancel</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Recently viewed</h3>
            </div>
            <div class="panel-body user-list">
                <ul>
                    <li class="user-info">
                        <img src="images/pothys.jpeg" alt="">
                        <span class="information">
                        <div class="user-name">
                            User name
                        </div>
                        <div>
                            follower
                        </div>
                        <div>
                            following
                        </div>
                        
                    </span>
                    <span class="follow-button">
                            <a href=""> + Follow</a>
                        </span>
                    </li>
                </ul>
            </div>
    </div>

    <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Recently viewed</h3>
            </div>
            <div class="panel-body recent-shop-list">
                <ul>
                    <li class="shop-info">
                        <img src="images/pothys.jpeg" alt="">
                        <span class="information">
                        <div class="shop-name">
                            shop name
                        </div>
                        <div>
                            additional info
                        </div>
                       
                    </span>
                    <span class="rating-info">
                            <a href=""> 4.5k</a>
                        </span>
                    </li>
                </ul>
            </div>
    </div>
</div>
