@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?1teqmh');
	src:url('../fonts/icomoon.eot?#iefix1teqmh') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?1teqmh') format('truetype'),
		url('../fonts/icomoon.woff?1teqmh') format('woff'),
		url('../fonts/icomoon.svg?1teqmh#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-star:before {
	content: "\f005";
}
.icomoon-star-o:before {
	content: "\f006";
}
.icomoon-format-justify:before {
	content: "\e600";
}
.icomoon-search2:before {
	content: "\e601";
}
.icomoon-pencil:before {
	content: "\e905";
}
.icomoon-headphones:before {
	content: "\e910";
}
.icomoon-play:before {
	content: "\e912";
}
.icomoon-video-camera:before {
	content: "\e914";
}
.icomoon-bullhorn:before {
	content: "\e91a";
}
.icomoon-mic:before {
	content: "\e91e";
}
.icomoon-profile:before {
	content: "\e923";
}
.icomoon-price-tag:before {
	content: "\e935";
}
.icomoon-price-tags:before {
	content: "\e936";
}
.icomoon-barcode:before {
	content: "\e937";
}
.icomoon-qrcode:before {
	content: "\e938";
}
.icomoon-floppy-disk:before {
	content: "\e962";
}
.icomoon-user:before {
	content: "\e971";
}
.icomoon-users:before {
	content: "\e972";
}
.icomoon-user-plus:before {
	content: "\e973";
}
.icomoon-quotes-left:before {
	content: "\e977";
}
.icomoon-quotes-right:before {
	content: "\e978";
}
.icomoon-spinner9:before {
	content: "\e982";
}
.icomoon-spinner10:before {
	content: "\e983";
}
.icomoon-spinner11:before {
	content: "\e984";
}
.icomoon-search:before {
	content: "\e986";
}
.icomoon-zoom-in:before {
	content: "\e987";
}
.icomoon-key:before {
	content: "\e98d";
}
.icomoon-key2:before {
	content: "\e98e";
}
.icomoon-equalizer:before {
	content: "\e992";
}
.icomoon-equalizer2:before {
	content: "\e993";
}
.icomoon-stats-dots:before {
	content: "\e99b";
}
.icomoon-trophy:before {
	content: "\e99e";
}
.icomoon-gift:before {
	content: "\e99f";
}
.icomoon-switch:before {
	content: "\e9b6";
}
.icomoon-menu:before {
	content: "\e9bd";
}
.icomoon-cloud-upload:before {
	content: "\e9c3";
}
.icomoon-heart:before {
	content: "\e9da";
}
.icomoon-happy:before {
	content: "\e9df";
}
.icomoon-happy2:before {
	content: "\e9e0";
}
.icomoon-smile:before {
	content: "\e9e1";
}
.icomoon-smile2:before {
	content: "\e9e2";
}
.icomoon-warning:before {
	content: "\ea07";
}
.icomoon-notification:before {
	content: "\ea08";
}
.icomoon-play2:before {
	content: "\ea15";
}
.icomoon-pause:before {
	content: "\ea16";
}
.icomoon-stop:before {
	content: "\ea17";
}
.icomoon-previous:before {
	content: "\ea18";
}
.icomoon-next:before {
	content: "\ea19";
}
.icomoon-backward:before {
	content: "\ea1a";
}
.icomoon-forward2:before {
	content: "\ea1b";
}
.icomoon-arrow-up-left2:before {
	content: "\ea39";
}
.icomoon-arrow-up2:before {
	content: "\ea3a";
}
.icomoon-arrow-up-right2:before {
	content: "\ea3b";
}
.icomoon-arrow-right2:before {
	content: "\ea3c";
}
.icomoon-arrow-down-right2:before {
	content: "\ea3d";
}
.icomoon-arrow-down2:before {
	content: "\ea3e";
}
.icomoon-arrow-down-left2:before {
	content: "\ea3f";
}
.icomoon-arrow-left2:before {
	content: "\ea40";
}
.icomoon-circle-up:before {
	content: "\ea41";
}
.icomoon-circle-right:before {
	content: "\ea42";
}
.icomoon-circle-down:before {
	content: "\ea43";
}
.icomoon-circle-left:before {
	content: "\ea44";
}
.icomoon-justify:before {
	content: "\ea7a";
}
.icomoon-google-plus:before {
	content: "\ea89";
}
.icomoon-facebook:before {
	content: "\ea8d";
}
.icomoon-instagram:before {
	content: "\ea90";
}
.icomoon-twitter:before {
	content: "\ea92";
}
.icomoon-youtube3:before {
	content: "\ea99";
}
.icomoon-vimeo2:before {
	content: "\ea9d";
}
.icomoon-dribbble2:before {
	content: "\eaa7";
}
.icomoon-blogger2:before {
	content: "\eaba";
}
.icomoon-tux:before {
	content: "\eabe";
}
.icomoon-apple:before {
	content: "\eabf";
}
.icomoon-android:before {
	content: "\eac1";
}
.icomoon-windows8:before {
	content: "\eac3";
}
.icomoon-linkedin:before {
	content: "\eac8";
}
